# =========================
# Universal
# =========================
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.tmp
.tmp/
temp/

# =========================
# Node.js (monorepo)
# =========================
**/node_modules/**
bower_components/
coverage/
.nyc_output/
dist/
build/

# Env files (keep examples)
.env
.env.*
!.env.example

# Package managers cache
.pnpm-store/
.npm/
.yarn/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# =========================
# Terraform
# =========================
# Working dirs created by `terraform init`
**/.terraform/**
**/node_modules/**

# State files
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log

# Plans
*.tfplan
*.plan

# Vars (often secrets)
*.tfvars
*.auto.tfvars
*.tfvars.json

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Always keep the lock file tracked
!**/.terraform.lock.hcl
